
.em-container{
    background-color: #2d2d2d;
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.item {
    background-color: #22b4f6;
    width: 12vw;
    height: 8vh;
}






