*{
    box-sizing: border-box;
}
body{
 margin: 0;
    padding: 0;
    background-color:#c8c8c8;
}
.navigator-container{
    width: 100%;
    height: 281px;
    margin: 0 auto;
    background-color: white;
}
.navigator-container .navigator-image{
    width: 100%;
    height: 222px;
    background-image: url(images/navigator.gif);
}
.navigator-container .navigator{
    width: 100%;
    height: 59px;
}
.navigator .navigator-inner{
    width: 480px;
    height: 59px;
    margin: 0 auto;
}
.navigator-inner>div:nth-child(1){
    float: left;
    text-align: center;
    line-height: 59px;
    width: 70px;
    height: 59px;
    font-size: 14px;
}
.navigator-inner>div:nth-child(2){
    float: left;
    text-align: center;
    line-height: 59px;
    width: 70px;
    height: 59px;
    font-size: 14px;
}
.navigator-inner>div:nth-child(3){
    float: left;
    text-align: center;
    line-height: 59px;
    width: 100px;
    height: 59px;
    font-size: 14px;
}
.navigator-inner>div:nth-child(4){
    float: left;
    text-align: center;
    line-height: 59px;
    width: 100px;
    height: 59px;
    font-size: 14px;
}
.navigator-inner>div:nth-child(5){
    float: left;
    text-align: center;
    line-height: 59px;
    width: 70px;
    height: 59px;
    font-size: 14px;
}
.navigator-inner>div:nth-child(6){
    float: left;
    text-align: center;
    line-height: 59px;
    width: 70px;
    height: 59px;
    font-size: 14px;
}
.navigator-inner a{
    text-decoration: none;
    color: #505050;
}
.navigator-inner>div:hover{
    border-bottom: 2px solid #E67e22;
    cursor: pointer;
}
.banner-container{
    width: 100%;
    height: 1360px;
    background-color: #e8e8e8;
    margin: 2px auto;
    padding: 35px;
    overflow: hidden;
}
.banner-center{
    width: 1170px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.banner-inner{
    width: 750px;
    height: 408px;
    background-color: white;
    padding: 40px 35px 0;
    text-align: center;
    float: left;
}
h1{
    font-size: 35px;
    margin: 0;
    margin-bottom: 15px;
}
p{
    font-size: 18px;
    font-family: 微软雅黑;

}
.banner-inner input{
    background-color: #e67e22;
    color: white;
    width: 86px;
    height: 36px;
    outline: none;
    border: none;
    font-weight: bold;
    display: block;
    margin-left: 7px;
    margin-top: 30px;

}
.banner-inner input:hover{
    cursor: pointer;
}
.banner-inner hr{
    display: block;
    margin-top: 30px;
    border: 1px solid #ebebeb;
}
.banner-inner img{
    display: block;
    margin-top:20px;
}
.banner-inner2{
    width: 385px;
    height: 199px;
    background-color: white;
    float: right;
    padding: 20px 30px;
}
.area{
    width: 90px;
    height: 31px;
    font-family:微软雅黑;
    font-size: 20px;
    border-bottom: 2px solid #e67e22;
}
.banner-inner2 hr{
    display: block;
    margin-top: -1px;
    border: 1px solid #ebebeb;
    margin-bottom: 25px;
}
.banner-inner2 span{
    width: 358px;
    display: block;
    margin-top: 15px;
}
.banner-inner3{
    width: 385px;
    height: 133px;
    background-color: white;
    float: right;
    padding: 20px 30px;
    margin-top: 35px;
}
.banner-inner3> .area{
    font-size: 19px;
    width: 100px;
}
.banner-inner3 hr{
    display: block;
    margin-top: -1px;
    border: 1px solid #ebebeb;
    margin-bottom: 25px;
}
.banner-inner3 input{
    background-color: #e67e22;
    color: white;
    width: 300px;
    height: 36px;
    outline: none;
    border: none;
    font-weight: bold;
    display: block;
    margin-top: 15px;
    font-size: 15px;
}
.banner-inner3 input:hover{
    cursor: pointer;
}
.banner-inner4{
    width: 750px;
    height: 777px;
    background-color: white;
    padding: 40px 35px 0;
    text-align: center;
    margin-top: 35px;
    float: left;
}
.banner-inner4 img{
    margin-top: 35px;
}
.banner-inner4 input{
    background-color: #e67e22;
    color: white;
    width: 86px;
    height: 36px;
    outline: none;
    border: none;
    font-weight: bold;
    display: block;
    margin-left: 7px;
    margin-top: 30px;

}
.banner-inner4 input:hover{
    cursor: pointer;
}
.banner-inner4 hr{
    display: block;
    margin-top: 30px;
    border: 1px solid #ebebeb;
}
.banner-inner5{
    width: 385px;
    height: 300px;
    background-color: white;
    float: right;
    padding: 20px 30px;

}
.banner-inner5> .area{
    font-size: 21px;
    width: 100px;
}
.banner-inner5 hr{
    display: block;
    margin-top: -1px;
    border: 1px solid #ebebeb;
    margin-bottom: 25px;
}
.tag{
    padding: 0 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ebebeb;
    display: inline-block;
    width: auto;
    height: 25px;
    line-height: 20px;
    color: #959595;
    margin-left: 8px;
}
.page{
    width: 100%;-
    height: 40px;
    float: left;
    margin-top: 35px;
}
.page input{
    width: 128px;
    height: 36px;
    background-color: #E67e22;
    float:left;
    border: none;
    color: white;
    font-family: 微软雅黑;

}
.page input:hover{
    cursor: pointer;
}
footer{
    width: 100%;
    height: 450px;
    background-color: #202020;
    margin: 0 auto;
    padding: 35px ;
    position: relative;

}
.footer-center>div{
    width: 300px;
    height: 300px;
    color:#FFFFFF;
    float: left;
    font-size: 22px;
}
footer>div> .area{
    font-size: 19px;
    width: 100px;
}
footer>div hr{
    display: block;
    margin-top: -1px;
    border: 1px solid #303030;
    margin-bottom: 0;
}
.footer-text{
    width:300px;
    height: 90px;
    border-bottom:1px dashed #303030 ;
    color: #505050;
    padding-top: 16px;
}
.footer-text span{
    color: #959595;
    font-size: 14px;
}
.footer-text p{
    margin: 0;
    font-size: 16px;
}
.labelCloud{
    margin-left:90px;
    font-size: 14px;
}
.labelCloud .tag{
    border: 1px solid #303030;
    font-size: 14px;
}
.labelCloud hr{
    margin-bottom: 20px;
}
.friends{
    margin-left:80px;
}
.friends>div{
    height: 60px;
}
.friends>div:first-child{
    height: 32px;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #111111;
    line-height: 80px;
    text-align: center;
    color: #525555;
    font-size: 14px;
}
.footer>span{
    border-right: 1px solid #525555;
    margin-left: 10px;
    margin-right: 10px;
}
.footer>img{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.footer>img:hover{
    cursor: pointer;
}
.footer-center{
    width: 1082px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

